# URL base del backend Django (Empresa, Productos, Login/Auth)
NEXT_PUBLIC_DJANGO_API_URL=http://localhost:8000/api

# URL base del microservicio FastAPI (Inventario, PDF, correo)
NEXT_PUBLIC_FASTAPI_API_URL=http://localhost:8001
